* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --goofy-blue: #5dacbd;
    --blue: #24527a;
    --grey: #a7bcb9;
    --white: #e0ebeb;
}

body {
    background: var(--goofy-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    background: var(--white);
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    border-radius: 30px;
}

.box-1 {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 30px 0 50px 0;
}

h2 {
    color: var(--blue);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: .5px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.btn {
    outline: none;
    border: none;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background: var(--grey);
    cursor: pointer;
    color: var(--blue);
    font-size: 14px;
    font-weight: 600;
    border: 2px solid var(--blue);
}

.box-2 {
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 0 50px;
}

p, .moves {
    color: var(--blue);
    font-size: 18px;
    letter-spacing: .5px;
}

.line {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px 0 0;
}

.line2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.moves {
    display: flex;
    gap: 5px;
}